<footer class="footer">
	<div class="container">
		
		<div class="footer__cell footer__cell__top">
			<a href="#" class="site__logo footer__logo">
				10BEST<span class="site__logo__span">VPN</span>
			</a>
			<ul class="list-social list-social--footer">
				<li class="list-social__item">
					<a href="#" class="list-social__link">
						<i class="list-social__icon bestvpn-icon-twitter"></i>
					</a>
				</li>
				<li class="list-social__item">
					<a href="#" class="list-social__link">
						<i class="list-social__icon bestvpn-icon-facebook-squared"></i>
					</a>
				</li>
				<li class="list-social__item">
					<a href="#" class="list-social__link">
						<i class="list-social__icon bestvpn-icon-instagram"></i>
					</a>
				</li>
				<li class="list-social__item">
					<a href="#" class="list-social__link">
						<i class="list-social__icon bestvpn-icon-gplus"></i>
					</a>
				</li>
			</ul><!-- list-social -->
		</div><!-- footer__cell -->
		
		
		<div class="footer__cell footer__cell__middle">
			<ul class="footer-nav__list">
				<li class="footer-nav__list__item">
					<a href="#" class="footer-nav__list__link">About</a>
				</li>
				<li class="footer-nav__list__item">
					<a href="#" class="footer-nav__list__link">Compare</a>
				</li>
				<li class="footer-nav__list__item">
					<a href="#" class="footer-nav__list__link">FAQs</a>
				</li>
			</ul><!-- footer-nav__list -->
			
			<ul class="footer-nav__list">
				<li class="footer-nav__list__item">
					<a href="#" class="footer-nav__list__link">Terms & Conditions</a>
				</li>
				<li class="footer-nav__list__item">
					<a href="#" class="footer-nav__list__link">Privacy Policy</a>
				</li>
				<li class="footer-nav__list__item">
					<a href="#" class="footer-nav__list__link">How We Make Money</a>
				</li>
			</ul><!-- footer-nav__list -->
			
			<ul class="footer-nav__list">
				<li class="footer-nav__list__item">
					<a href="#" class="footer-nav__list__link">ExpressVPN Review</a>
				</li>
				<li class="footer-nav__list__item">
					<a href="#" class="footer-nav__list__link">NordVPN Review</a>
				</li>
				<li class="footer-nav__list__item">
					<a href="#" class="footer-nav__list__link">Hide My Ass Review</a>
				</li>
			</ul><!-- footer-nav__list -->
			
			<ul class="footer-nav__list">
				<li class="footer-nav__list__item">
					<a href="#" class="footer-nav__list__link">PureVPN Review</a>
				</li>
				<li class="footer-nav__list__item">
					<a href="#" class="footer-nav__list__link">IP Vanish Review</a>
				</li>
				<li class="footer-nav__list__item">
					<a href="#" class="footer-nav__list__link">Hotspot Shield Elite Review</a>
				</li>
			</ul><!-- footer-nav__list -->
			
			<ul class="footer-nav__list">
				<li class="footer-nav__list__item">
					<a href="#" class="footer-nav__list__link">StrongVPN Review</a>
				</li>
				<li class="footer-nav__list__item">
					<a href="#" class="footer-nav__list__link">SaferVPN Review</a>
				</li>
				<li class="footer-nav__list__item">
					<a href="#" class="footer-nav__list__link">VyprVPN Review</a>
				</li>
			</ul><!-- footer-nav__list -->
		</div><!-- footer__cell -->
		
		
		<div class="footer__cell footer__cell__bottom">
			<p>2016 Metric Labs Ltd. All rights reserved.</p>
			<p>Top10VPN.com is an independent, advertising-supported publisher and comparison service. Top10VPN.com may be compensated in
			exchange for featured placement of certain sponsored products and services.</p>
		</div><!-- footer__cell -->
		
	</div><!-- container -->
</footer>
