<nav class="navbar-holder">
  <div class="container">
    <div class="navbar__row">
      <div class="navbar__cell">
        <a href="#" class="site__logo navbar__logo">
          10BEST<span class="site__logo__span navbar__logo__span">VPN</span>
        </a>
        <button class="offcanvas__toggle">
          <i class="bestvpn-icon-menu"></i>
        </button>
      </div><!-- navbar__cell -->
      
      <div class="navbar__cell offcanvas-wrapper">
        <div class="offcanvas-holder">
          <button class="offcanvas__close">
            <i class="bestvpn-icon-cancel"></i>
          </button>
          <ul class="navbar__list">
            <li class="navbar__list__item"><a href="#" class="navbar__list__link">Home</a></li>
            <li class="navbar__list__item"><a href="#" class="navbar__list__link">Compare</a></li>
            <li class="navbar__list__item"><a href="#" class="navbar__list__link">VPN</a></li>
            <li class="navbar__list__item"><a href="#" class="navbar__list__link">Reviews</a></li>
            <li class="navbar__list__item"><a href="#" class="navbar__list__link">FAQs</a></li>
            <li class="navbar__list__item"><a href="#" class="navbar__list__link">Advertiser Disclosure</a></li>
          </ul><!-- navbar__lis -->
        </div><!-- offcanvas-holder -->
      </div><!-- navbar__cell -->
    </div><!-- row -->
  </div><!-- container -->
</nav><!-- navbar-holder -->
